<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<mat-card>
  <mat-card-header>
    <mat-card-title>{{data.name}}</mat-card-title>
    <img  mat-card-avatar src="https://assets.madfix.me/projects/MaterialDesignWebInterface/pictures/blocks/{{data.blockId}}-{{data.subId}}.png" alt="">
  </mat-card-header>
  <div mat-card-image fxLayoutAlign="center center">
    <div  class="live-viewer">
      <div class="line" [innerHTML]="replaceColor( line1.value) | safeHtml"></div>
      <div class="line" [innerHTML]="replaceColor( line2.value) | safeHtml"></div>
      <div class="line" [innerHTML]="replaceColor( line3.value) | safeHtml"></div>
      <div class="line" [innerHTML]="replaceColor( line4.value) | safeHtml"></div>
    </div>
  </div>
  <mat-card-content>
    <form fxLayout="column wrap" >
      <mat-form-field>
        <input #line1 matInput placeholder="{{ 'module.sign.edit.line.1.placeholder' | translate }}" [value]="data.signLayout[0]" (focusout)="saveLine(line1.value,0)">
      </mat-form-field>
      <mat-form-field>
        <input #line2 matInput placeholder="{{ 'module.sign.edit.line.2.placeholder' | translate }}" [value]="data.signLayout[1]" (focusout)="saveLine(line2.value,1)">
      </mat-form-field>
      <mat-form-field>
        <input #line3 matInput placeholder="{{ 'module.sign.edit.line.3.placeholder' | translate }}" [value]="data.signLayout[2]" (focusout)="saveLine(line3.value,2)">
      </mat-form-field>
      <mat-form-field>
        <input #line4 matInput placeholder="{{ 'module.sign.edit.line.4.placeholder' | translate }}" [value]="data.signLayout[3]" (focusout)="saveLine(line4.value,3)">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Minecraft Block ID" [value]="data.blockId" (change)="data.blockId = blockID.value" #blockID>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Minecraft Block Sub ID" [value]="data.subId" (change)="data.subId = subID.value" #subID>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-dialog-close>{{'buttons.close' | translate}}</button>
  </mat-card-actions>
</mat-card>
