<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<div>
  <mat-toolbar>
    <button mat-icon-button routerLink="/cperms">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <h2 *ngIf="group != null">{{group.name}}</h2>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button (click)="SubmitGroup()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div fxLayout="column" fxLayoutGap="20px" *ngIf="group != null">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <br>
    <mat-checkbox [checked]="group.defaultGroup" (change)="group.defaultGroup = !group.defaultGroup">{{ 'cperms.adgroup.defaultgroup.placeholder' | translate}}</mat-checkbox>
    <br>
    <mat-form-field>
      <input matInput placeholder="{{ 'cperms.adgroup.groupname.placeholder' | translate}}" #name [value]="group.name" type="text" (focusout)="onSaveName(name.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'cperms.adgroup.prefix.placeholder' | translate}}" #prefix [value]="group.prefix" maxlength="16" type="text" (focusout)="SavePrefix(prefix.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'cperms.adgroup.suffix.placeholder' | translate}}" #suffix [value]="group.suffix" maxlength="16" type="text" (focusout)="SaveSuffix(suffix.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'cperms.adgroup.display.placeholder' | translate}}" #display [value]="group.display" type="text" (focusout)="SaveDisplay(display.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'cperms.adgroup.joinpower.placeholder' | translate}}" #power [value]="group.joinPower" type="number" (focusout)="SavePower(power.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'cperms.adgroup.tagid.placeholder' | translate}}" #id [value]="group.tagId" type="number" (focusout)="SaveID(id.value)">
    </mat-form-field>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Group Permissions
          </mat-panel-title>
          <mat-panel-description>
            All Permissions of this Group
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="Permission" #grouppermission>
          <button mat-icon-button matSuffix (click)="AddPermissionToGroup(grouppermission.value)">
            <mat-icon color="primary">add</mat-icon>
          </button>
        </mat-form-field>
        <mat-list>
          <mat-list-item *ngFor="let item of group.permissions">
            <button mat-icon-button (click)="RemovePermissionFromGroup(item)">
              <mat-icon *ngIf="item.value == true" color="error">delete</mat-icon>
              <mat-icon *ngIf="item.value == false" color="primary">delete</mat-icon>
            </button>
            {{item['key']}}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Server Permissions
          </mat-panel-title>
          <mat-panel-description>
            All Server Permissions of this Group
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="Server Group" #servergroupname>
          <button mat-icon-button matSuffix (click)="AddServerGroup(servergroupname.value)">
            <mat-icon color="primary">add</mat-icon>
          </button>
        </mat-form-field>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let item of group.serverGroupPermissions; let i = index ">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Server Group {{item.key}}
              </mat-panel-title>
              <mat-panel-description>
                All Permissions of this Server Group
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field>
              <input matInput placeholder="Permission" #servergrouppermission>
              <button mat-icon-button matSuffix (click)="AddPermissionToServerGroup(i,servergrouppermission.value)">
                <mat-icon color="primary">add</mat-icon>
              </button>
            </mat-form-field>
            <mat-list>
              <mat-list-item *ngFor="let permission of group.serverGroupPermissions[i].value">
                <button mat-icon-button (click)="RemovePermissionFromServerGroup(i,permission)">
                  <mat-icon color="error">delete</mat-icon>
                </button>
                {{permission}}
              </mat-list-item>
            </mat-list>
            <button mat-icon-button (click)="RemoveServerGroup(item.key)">
              <mat-icon color="error">delete</mat-icon>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Implement Groups
          </mat-panel-title>
          <mat-panel-description>
            All Implement Group of this Group
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="Group" #groupname [formControl]="implementGroup" [matAutocomplete]="option">
          <button mat-icon-button matSuffix (click)="AddGroup(groupname.value)">
            <mat-icon color="primary">add</mat-icon>
          </button>
        </mat-form-field>
        <mat-autocomplete #option="matAutocomplete">
          <mat-option *ngFor="let group of groups" [value]="group">{{group}}</mat-option>
        </mat-autocomplete>
        <mat-list>
          <mat-list-item *ngFor="let item of group.implementGroups ">
            <button mat-icon-button (click)="RemoveGroup(item)">
              <mat-icon color="error">delete</mat-icon>
            </button>
            {{item}}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>
