/*
 * Copyright (c) 2019.
 * CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
 *  Namensnennung -
 *  Nicht kommerziell -
 *  Keine Bearbeitungen 4.0 International Lizenz.
 */


.live-viewer{
  background-image: url("https://assets.madfix.me/projects/MaterialDesignWebInterface/pictures/blank_sign.png");
  font-family: 'Minecraft', serif;
  min-height: 96px;
  min-width: 192px;
  background-repeat: no-repeat;
  width: 192px;
  height: 96px;
}
.line{
  position: relative;
  vertical-align: middle;
  padding-top: 2px;
  text-align: center;
  height: 20px;
  color: #000000;
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
