<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<h1 mat-dialog-title>{{ 'client.settings.title' | translate}}</h1>
<div mat-dialog-content>
  <form [formGroup]="controllers">
    <mat-tab-group>
      <mat-tab label="{{ 'client.settings.tab.1.title' | translate }}">
        <mat-form-field>
          <mat-select placeholder="{{'client.settings.tab.1.placeholder' | translate}}" formControlName="languageControl">
            <mat-option *ngFor="let lang of languages" [value]="lang.code">
              {{lang.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="{{ 'client.settings.tab.2.title' | translate }}">
          <mat-form-field>
            <mat-select placeholder="{{'client.settings.tab.2.placeholder' | translate}}" formControlName="themeControl">
              <mat-option *ngFor="let theme of themes" [value]="theme.value">
                {{theme.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </mat-tab>
      <mat-tab label="{{ 'client.settings.tab.3.title' | translate }}">
        <div fxLayout="column" fxLayoutAlign="none start" >
          <mat-form-field>
            <input matInput formControlName="intervalDashboard" placeholder="{{ 'client.settings.tab.3.input.1.placeholder' | translate }}" type="number" [value]="dashboardInterval" [(ngModel)]="dashboardInterval" style="width: 100%">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="intervalConsole" placeholder="{{ 'client.settings.tab.3.input.2.placeholder' | translate }}" type="number" [value]="consoleInterval" [(ngModel)]="consoleInterval" style="width: 100%">
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">{{ 'buttons.close' | translate}}</button>
  <button mat-button (click)="onSave()">{{ 'buttons.save' | translate}}</button>
</div>
