<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<div class="example-loading-shade"
     *ngIf="isLoadingResults || isRateLimitReached">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div fxLayout="column space-around" fxHide.gt-sm="true" fxHide.lt-md="false" fxShow>
  <mat-card *ngFor="let item of items" style="margin: 7px;">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>traffic</mat-icon>
      </div>
      <mat-card-title>{{ 'servergroups.item.name' | translate:{name:item['name']} }}</mat-card-title>
      <mat-card-subtitle>{{'servergroups.item.type' | translate:{type:item.serverType} }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button (click)="Edit(item.name)">{{ 'buttons.edit' | translate}}</button>
      <button mat-stroked-button color="accent" (click)="Templates(item.name)">{{'servergroups.item.templates' |
        translate}}
      </button>
      <button mat-stroked-button (click)="Manage(item.name)">{{ 'buttons.manage' | translate}}</button>
      <button mat-stroked-button (click)="Remove(item.name)" color="warn">{{'buttons.delete' | translate}}</button>
    </mat-card-actions>
  </mat-card>
  <mat-card style="margin: 7px">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>traffic</mat-icon>
      </div>
      <mat-card-title>{{ 'servergroups.item.add.title' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'servergroups.item.add.description' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button (click)="Add()">{{ 'buttons.add' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</div>
<div fxLayout="row warp" fxHide.gt-sm="false" fxHide.lt-md="true" fxShow>
  <mat-card *ngFor="let item of items" style="margin: 7px;">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>traffic</mat-icon>
      </div>
      <mat-card-title>{{ 'servergroups.item.name' | translate:{name:item['name']} }}</mat-card-title>
      <mat-card-subtitle>{{'servergroups.item.type' | translate:{type:item.serverType} }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button (click)="Edit(item.name)">{{ 'buttons.edit' | translate}}</button>
      <button mat-stroked-button color="accent" (click)="Templates(item.name)">{{'servergroups.item.templates' |
        translate}}
      </button>
      <button mat-stroked-button (click)="Manage(item.name)">{{ 'buttons.manage' | translate}}</button>
      <button mat-stroked-button (click)="Remove(item.name)" color="warn">{{'buttons.delete' | translate}}</button>
    </mat-card-actions>
  </mat-card>
  <mat-card style="margin: 7px">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>traffic</mat-icon>
      </div>
      <mat-card-title>{{ 'servergroups.item.add.title' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'servergroups.item.add.description' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button (click)="Add()">{{ 'buttons.add' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</div>
