<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<form>
  <h1 mat-dialog-title>{{ 'servergroups.add.title' | translate}}</h1>
  <div mat-dialog-content fxShow fxHide.gt-sm="false" fxHide.lt-sm="true">
    <mat-horizontal-stepper linear="true">
      <mat-step [stepControl]="NameFormGroup">
        <form [formGroup]="NameFormGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step0.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput placeholder="{{ 'servergroups.add.step0.input.name' | translate}}"
                   formControlName="NameCrtl" required type="text">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.close' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="MemoryFormGroup">
        <form [formGroup]="MemoryFormGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step1.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput placeholder="{{ 'servergroups.add.step1.input.memory' | translate}}"
                   formControlName="MemoryCrtl" required
                   type="number">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="StartUpFromGroup">
        <form [formGroup]="StartUpFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step2.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput
                   placeholder="{{ 'servergroups.add.step2.input.onlineservers' | translate}}" type="number"
                   formControlName="StartUpCrtl"
                   required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="AutoStartFromGroup">
        <form [formGroup]="AutoStartFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step3.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput min="1" max="100" type="number" formControlName="AutoStartCrtl" required
                   placeholder="{{ 'servergroups.add.step3.input.percent' | translate}}">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="GroupModeCrtl" role="tab">
        <form fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step4.title' | translate}}</ng-template>
          <mat-form-field>
            <mat-label>{{ 'servergroups.add.step4.input.groupmode' | translate}}</mat-label>
            <mat-select value="DYNAMIC" [formControl]="GroupModeCrtl">
              <mat-option value="LOBBY">LOBBY</mat-option>
              <mat-option value="STATIC">STATIC</mat-option>
              <mat-option value="DYNAMIC">DYNAMIC</mat-option>
              <mat-option value="STATIC_LOBBY">STATIC_LOBBY</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="ServerTypeCrtl" role="tab">
        <form fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step5.title' | translate}}</ng-template>
          <mat-form-field>
            <mat-label>{{ 'servergroups.add.step5.input.servergroup' | translate}}
            </mat-label>
            <mat-select value="BUKKIT" [formControl]="ServerTypeCrtl">
              <mat-option value="GLOWSTONE">GLOWSTONE</mat-option>
              <mat-option value="CAULDORN">CAULDORN</mat-option>
              <mat-option value="BUKKIT">BUKKIT</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="TemplateBackendFromGroup">
        <form [formGroup]="TemplateBackendFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step6.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput
                   placeholder="{{ 'servergroups.add.step6.input.backend' | translate}}"
                   formControlName="TemplateBackendCrtl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="HunderPlayerFromGroup">
        <form [formGroup]="HunderPlayerFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step7.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput
                   placeholder="{{ 'servergroups.add.step7.input.hunderplayer' | translate}}"
                   formControlName="HunderPlayerCrtl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="HunderGlobalPlayerFromGroup">
        <form [formGroup]="HunderGlobalPlayerFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step8.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput
                   placeholder="{{ 'servergroups.add.step8.input.hunderglobalplayer' | translate}}"
                   formControlName="HunderGlobalPlayerCrtl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="WrapperFromGroup">
        <form [formGroup]="WrapperFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step9.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput placeholder="{{ 'servergroups.add.step9.input.wrapper' | translate}}"
                   formControlName="WrapperCrtl" required [matAutocomplete]="Wrapper">
            <mat-autocomplete autoActiveFirstOption #Wrapper="matAutocomplete">
              <mat-option *ngFor="let wrapper of filteredWrappers | async" [value]="wrapper">
                {{wrapper}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ 'servergroups.add.done.done' | translate}}</ng-template>
        <p>{{ 'servergroups.add.done.content' | translate}}</p>
        <div>
          <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
          <button mat-button (click)="Create()">{{ 'buttons.create' | translate}}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div mat-dialog-content fxShow fxHide.gt-sm="true" fxHide.lt-sm="false">
    <mat-vertical-stepper linear="true">
      <mat-step [stepControl]="NameFormGroup">
        <form [formGroup]="NameFormGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step0.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput placeholder="{{ 'servergroups.add.step0.input.name' | translate}}"
                   formControlName="NameCrtl" required type="text">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.close' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="MemoryFormGroup">
        <form [formGroup]="MemoryFormGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step1.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput placeholder="{{ 'servergroups.add.step1.input.memory' | translate}}"
                   formControlName="MemoryCrtl" required
                   type="number">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="StartUpFromGroup">
        <form [formGroup]="StartUpFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step2.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput
                   placeholder="{{ 'servergroups.add.step2.input.onlineservers' | translate}}" type="number"
                   formControlName="StartUpCrtl"
                   required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="AutoStartFromGroup">
        <form [formGroup]="AutoStartFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step3.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput min="1" max="100" type="number" formControlName="AutoStartCrtl" required
                   placeholder="{{ 'servergroups.add.step3.input.percent' | translate}}">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="GroupModeCrtl" role="tab">
        <form fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step4.title' | translate}}</ng-template>
          <mat-form-field>
            <mat-label>{{ 'servergroups.add.step4.input.groupmode' | translate}}</mat-label>
            <mat-select value="DYNAMIC" [formControl]="GroupModeCrtl">
              <mat-option value="LOBBY">LOBBY</mat-option>
              <mat-option value="STATIC">STATIC</mat-option>
              <mat-option value="DYNAMIC">DYNAMIC</mat-option>
              <mat-option value="STATIC_LOBBY">STATIC_LOBBY</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="ServerTypeCrtl" role="tab">
        <form fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step5.title' | translate}}</ng-template>
          <mat-form-field>
            <mat-label>{{ 'servergroups.add.step5.input.servergroup' | translate}}
            </mat-label>
            <mat-select value="BUKKIT" [formControl]="ServerTypeCrtl">
              <mat-option value="GLOWSTONE">GLOWSTONE</mat-option>
              <mat-option value="CAULDORN">CAULDORN</mat-option>
              <mat-option value="BUKKIT">BUKKIT</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="TemplateBackendFromGroup">
        <form [formGroup]="TemplateBackendFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step6.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput
                   placeholder="{{ 'servergroups.add.step6.input.backend' | translate}}"
                   formControlName="TemplateBackendCrtl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="HunderPlayerFromGroup">
        <form [formGroup]="HunderPlayerFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step7.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput
                   placeholder="{{ 'servergroups.add.step7.input.hunderplayer' | translate}}"
                   formControlName="HunderPlayerCrtl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="HunderGlobalPlayerFromGroup">
        <form [formGroup]="HunderGlobalPlayerFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step8.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput
                   placeholder="{{ 'servergroups.add.step8.input.hunderglobalplayer' | translate}}"
                   formControlName="HunderGlobalPlayerCrtl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="WrapperFromGroup">
        <form [formGroup]="WrapperFromGroup" fxLayout="column" fxLayoutAlign="space-around stretch">
          <ng-template matStepLabel>{{ 'servergroups.add.step9.title' | translate}}</ng-template>
          <mat-form-field>
            <input matInput placeholder="{{ 'servergroups.add.step9.input.wrapper' | translate}}"
                   formControlName="WrapperCrtl" required [matAutocomplete]="Wrapper">
            <mat-autocomplete autoActiveFirstOption #Wrapper="matAutocomplete">
              <mat-option *ngFor="let wrapper of filteredWrappers | async" [value]="wrapper">
                {{wrapper}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate}}</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <div>
          <ng-template matStepLabel> {{ 'servergroups.add.done.done' | translate }}</ng-template>
          <p>{{ 'servergroups.add.done.content' | translate}}</p>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate}}</button>
            <button mat-button (click)="Create()">{{ 'buttons.create' | translate}}</button>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</form>
