<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<mat-toolbar >
  <button mat-button (click)="SaveConfig()" >{{ 'buttons.save' | translate}}</button>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="{{ 'module.sign.tab.1' | translate}}">
    <mat-toolbar>
      <button mat-button (click)="AddSignGroup()" >{{ 'buttons.add' | translate}}</button>
    </mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of singLayoutConfig.groupLayouts; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-card *ngFor="let layout of item.layouts" style="padding: 4px; margin: 4px">
            <mat-card-header>
              <mat-card-title>{{layout.name}}</mat-card-title>
              <mat-card-subtitle>{{layout.blockId}}:{{layout.subId}}</mat-card-subtitle>
              <img  mat-card-avatar src="https://assets.madfix.me/projects/MaterialDesignWebInterface/pictures/blocks/{{layout.blockId}}-{{layout.subId}}.png" alt="">
            </mat-card-header>
            <mat-card-content  fxLayoutAlign="center center">
              <div class="live-viewer" >
                <div *ngFor="let line of layout.signLayout" class="line" [innerHTML]="replaceColor( line) | safeHtml"></div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="openEdit(layout)">{{ 'buttons.edit' | translate }}</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <button mat-stroked-button color="primary" (click)="RemoveGroup(i)">{{ 'buttons.delete' | translate }}</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="{{ 'module.sign.tab.2' | translate}}">
    <div fxLayoutAlign="center center">
      <mat-card style="padding: 4px; margin: 4px">
        <mat-card-header>
          <mat-card-title>{{ 'module.sign.tab.2.sign.title' | translate}}</mat-card-title>
          <img  mat-card-avatar src="https://assets.madfix.me/projects/MaterialDesignWebInterface/pictures/blocks/{{animation.blockId}}-{{animation.subId}}.png" alt="">
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center" style="padding: 8px;">
          <div class="live-viewer" >
            <div *ngFor="let line of animation.signLayout" class="line" [innerHTML]="replaceColor( line) | safeHtml"></div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="EditSearch()" color="primary">{{ 'buttons.edit' | translate}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'module.sign.tab.3' | translate}}">
    <div fxLayout="column" fxLayoutAlign="center none">
      <mat-card style="padding: 4px; margin: 16px">
        <mat-card-header>
          <mat-card-title>{{ 'module.sign.tab.3.settings.animation.title' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form fxLayout="column" fxLayoutAlign="start none" style="padding: 4px; margin: 4px">
            <mat-form-field>
              <input matInput placeholder="{{ 'module.sign.tab.3.settings.animation.input.1.placeholder'  | translate}}" [value]="singLayoutConfig.searchingAnimation.animations" #inputA1 (change)="singLayoutConfig.searchingAnimation.animations = inputA1.value">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="{{ 'module.sign.tab.3.settings.animation.input.2.placeholder'  | translate}}" [value]="singLayoutConfig.searchingAnimation.animationsPerSecond" #inputA2 (change)="singLayoutConfig.searchingAnimation.animationsPerSecond = inputA2.value">
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
      <mat-card style="padding: 4px; margin: 16px">
        <mat-card-header>
          <mat-card-title>{{ 'module.sign.tab.3.settings.general.title' |translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form fxLayout="column" fxLayoutAlign="start none" style="padding: 4px; margin: 4px">
            <mat-form-field>
              <input matInput placeholder="{{'module.sign.tab.3.settings.general.input.1.placeholder' | translate}}" [value]="singLayoutConfig.strength" #inputG1 (change)="singLayoutConfig.strength = inputG1.value">
            </mat-form-field>
            <mat-slide-toggle [checked]="singLayoutConfig.knockbackOnSmallDistance" color="primary" (change)="singLayoutConfig.knockbackOnSmallDistance = !singLayoutConfig.knockbackOnSmallDistance">{{ 'module.sign.tab.3.settings.general.button.1.placeholder' | translate}}</mat-slide-toggle>
            <mat-form-field>
              <input matInput placeholder="{{ 'module.sign.tab.3.settings.general.input.2.placeholder' | translate}}" #inputG2 [value]="singLayoutConfig.distance" (change)="singLayoutConfig.distance = inputG2.value">
            </mat-form-field>
            <mat-slide-toggle [checked]="singLayoutConfig.fullServerHide" color="primary" (change)="singLayoutConfig.fullServerHide = !singLayoutConfig.fullServerHide">{{ 'module.sign.tab.3.settings.general.button.2.placeholder' | translate}}</mat-slide-toggle>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>

