<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<div>
  <mat-toolbar>
    <button mat-icon-button routerLink="/cperms">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <h2 *ngIf="player != null">{{player.name}}</h2>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button (click)="SubmitUser()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div fxLayout="column" fxLayoutGap="20px" *ngIf="player != null">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <br>
    <mat-form-field>
      <input matInput placeholder="User UUID" #prefix [value]="player.uniqueId"  type="text" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="User Prefix" #prefix [value]="player.permissionEntity.prefix" maxlength="16"
             type="text" (focusout)="onSavePrefix(prefix.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="User Suffix" #suffix [value]="player.permissionEntity.suffix" maxlength="16"
             type="text" (focusout)="onSaveSuffix(suffix.value)">
    </mat-form-field>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center" [formGroup]="user">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            User Groups
          </mat-panel-title>
          <mat-panel-description>
            All Groups of this User
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="Group Name" formControlName="groupName">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a Timeout" formControlName="datePicker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-icon-button matSuffix (click)="AddGroupToUser()">
          <mat-icon color="primary">add</mat-icon>
        </button>
        <mat-list>
          <mat-list-item *ngFor="let item of player.permissionEntity.groups">
            <button mat-icon-button (click)="onRemoveGroupFromUser(item.key)">
              <mat-icon  color="error">delete</mat-icon>
            </button>
            {{item['key']}} - {{item.value | date: 'MM/dd/yyyy'}}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Permission
        </mat-panel-title>
        <mat-panel-description>
          All Permissions of this User
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Permission" formControlName="permission">
        <button mat-icon-button matSuffix (click)="onAddPermission()">
          <mat-icon color="primary">add</mat-icon>
        </button>
      </mat-form-field>
      <mat-list>
        <mat-list-item *ngFor="let item of player.permissionEntity.permissions">
          <button mat-icon-button (click)="onRemovePermission(item.key)">
            <mat-icon *ngIf="item.value === false">delete</mat-icon>
            <mat-icon *ngIf="item.value === true" color="primary">delete</mat-icon>
          </button>
          {{item['key']}}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

  </div>
</div>
