<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->


<div class="mat-app-background" style="height: 100%; margin-top: 0;">
<div fxLayout="column" fxLayoutAlign="center center" style="padding-top: 25vh;">
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar style="font-size: xx-large">cloud_circle</mat-icon>
        <mat-card-title>{{'login.title'| translate }}</mat-card-title>
        <mat-card-subtitle>{{'login.description' | translate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center stretch">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <mat-form-field>
            <input type="text" placeholder="{{ 'login.input.user' | translate}}" name="username"
                   [(ngModel)]="model.username" #username="ngModel" required matInput>
          </mat-form-field>
          <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">

          <mat-form-field>
            <input type="password" placeholder="{{'login.input.password' | translate}}" name="password"
                   [(ngModel)]="model.password" #password="ngModel" required matInput>
          </mat-form-field>
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>

        <mat-form-field>
          <mat-select placeholder="{{'login.select' | translate}}" [formControl]="networkcontrol" required>
            <mat-option *ngFor="let network of networks" [value]="network.CloudName">
              {{network.CloudName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ngx-invisible-recaptcha *ngIf="isGoogleRecaptcha()" #captchaElem
                                 [siteKey]="sitekey"
                                 (success)="resolved()"
                                 [useGlobalDomain]="false"
                                 type="Image"
                                 badge="bottomright"
                                 [ngModel]="recaptcha"
                                 [ngModelOptions]="{ standalone: true }">
        </ngx-invisible-recaptcha>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center stretch">
        <button mat-stroked-button color="primary" (click)="captchaElem.execute()" *ngIf="isGoogleRecaptcha()">{{'login.button' | translate}}</button>
        <button mat-stroked-button color="primary" *ngIf="!isGoogleRecaptcha()" type="submit">{{'login.button' | translate}}</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
</div>
