  <!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<h1 mat-dialog-title>{{ 'player.console.title' | translate }}</h1>
<div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around stretch">
  <form [formGroup]="sender">
    <mat-form-field style="width: 100%">
      <input matInput placeholder="Player Name/ Player UUID" required formControlName="player">
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <input type="text" matInput placeholder="Server" required formControlName="server">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSend()">{{ 'buttons.send' | translate }}</button>
  <button mat-button [mat-dialog-close]="">{{ 'buttons.close' | translate }}</button>
</div>
