<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<!--suppress JSUnresolvedFunction, JSUnresolvedFunction -->
<mat-sidenav-container class="example-container" autosize hasBackdrop="true" >
  <mat-sidenav class="menu-drawer" #drawer>
    <h1>{{ 'navigation.label' | translate}}</h1>
    <mat-list>
      <h3>{{ 'navigation.labels.management' | translate}}</h3>
      <mat-list-item>
        <mat-icon>home</mat-icon>
        <button mat-stroked-button routerLink="/dashboard" (click)="drawer.close()">{{ 'navigation.buttons.dashboard' |
          translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>language</mat-icon>
        <button mat-stroked-button (click)="OpenMasterConsole()">{{ 'navigation.buttons.master' | translate}}
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3>{{ 'navigation.labels.groupmanagment' | translate}}</h3>
      <mat-list-item>
        <mat-icon>dns</mat-icon>
        <button mat-stroked-button routerLink="/proxygroups"  matBadge="{{proxy_groups}}" matBadgePosition="after" matBadgeColor="primary" (click)="drawer.close()">{{ 'navigation.buttons.proxygroups' |
          translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>storage</mat-icon>
        <button mat-stroked-button routerLink="/servergroups" matBadge="{{server_groups}}" matBadgePosition="after" matBadgeColor="primary" (click)="drawer.close()">{{ 'navigation.buttons.servergroups' |
          translate}}
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3>{{ 'navigation.labels.list' | translate}}</h3>
      <mat-list-item>
        <mat-icon>cast</mat-icon>
        <button mat-stroked-button routerLink="/proxylist"  matBadge="{{proxies}}" matBadgePosition="after" matBadgeColor="primary" (click)="drawer.close()">{{ 'navigation.buttons.proxylist' |
          translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>cast_connected</mat-icon>
        <button mat-stroked-button routerLink="/serverlist" matBadge="{{servers}}" matBadgePosition="after" matBadgeColor="primary" (click)="drawer.close()">{{ 'navigation.buttons.serverlist' |
          translate }}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>view_list</mat-icon>
        <button mat-stroked-button routerLink="/wrappers" matBadge="{{wrappers}}" matBadgePosition="after" matBadgeColor="primary" (click)="drawer.close()">{{ 'navigation.buttons.wrapper' |
          translate }}
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3>{{ 'navigation.labels.modules' | translate}}</h3>
      <mat-list-item *ngIf="cperms">
        <mat-icon>supervised_user_circle</mat-icon>
        <button mat-stroked-button routerLink="/cperms" (click)="drawer.close()">
          {{ 'navigation.buttons.module.cperms' | translate}}
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="sign">
        <mat-icon>assignment</mat-icon>
        <button mat-stroked-button routerLink="/sign" (click)="drawer.close()">{{ 'navigation.buttons.module.sign' | translate}}
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3>{{ 'navigation.labels.player' | translate}}</h3>
      <mat-list-item>
        <mat-icon>send</mat-icon>
        <button mat-stroked-button (click)="drawer.close() && OpenPlayerConsole()" >{{ 'navigation.buttons.move.player' | translate}}
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3>{{ 'navigation.labels.utilities' | translate}}</h3>
      <mat-list-item>
        <mat-icon>https</mat-icon>
        <button mat-stroked-button routerLink="/users" (click)="drawer.close()">{{ 'navigation.buttons.cloudpermissions' |
          translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>settings</mat-icon>
        <button mat-stroked-button (click)="drawer.close() && OpenSettings()">{{ 'navigation.buttons.utilities.settings' | translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>info</mat-icon>
        <button mat-stroked-button (click)="drawer.close() && OpenDisclaimer()">{{ 'navigation.buttons.utilities.disclaimer' | translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>assignment</mat-icon>
        <button mat-stroked-button (click)="drawer.close() && OpenChangelog()">{{ 'navigation.buttons.utilities.changelog' | translate}}
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>rowing</mat-icon>
        <button mat-stroked-button (click)="drawer.close() && OpenInformation()">{{ 'navigation.buttons.utilities.info' | translate}}
        </button>
      </mat-list-item>
      <span class="fill-remaining-space"></span>
      <h3 class="mat-body-1" style="margin-right: 0.5%" matTooltip="Copyright by TheMeinerLP">&copy; Copyright by
        MADFIX.ME</h3>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()" *ngIf="isLoggedIn()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{BRANDING}}</span>
        <span class="fill-remaining-space"></span>
        <button *ngIf="isLoggedIn()" mat-raised-button routerLink="/login">
          <mat-icon>exit_to_app</mat-icon>
        </button>

      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <ng-snotify></ng-snotify>
  </mat-sidenav-content>
</mat-sidenav-container>
