<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<!--suppress JSUnusedLocalSymbols -->
<h1 mat-dialog-title>Wrapper - {{wrapper.serverId}}</h1>
<div mat-dialog-content>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          CloudServers
        </mat-panel-title>
        <mat-panel-description>
          Show you all CloudServers of this Wrapper
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="wrapper.cloudServers" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ServerID Column -->
        <ng-container matColumnDef="serverid">
          <th mat-header-cell *matHeaderCellDef> ServerID </th>
          <td mat-cell *matCellDef="let e"> {{e.serviceId.serverId}} </td>
        </ng-container>

        <!-- OnlineCount Column -->
        <ng-container matColumnDef="onlinecount">
          <th mat-header-cell *matHeaderCellDef> OnlineCount </th>
          <td mat-cell *matCellDef="let e"> {{e.serverInfo.onlineCount}}/{{e.serverInfo.maxPlayers}} </td>
        </ng-container>
        <!-- ServerState Column -->
        <ng-container matColumnDef="serverstate">
          <th mat-header-cell *matHeaderCellDef> ServerState </th>
          <td mat-cell *matCellDef="let e"> {{e.serverInfo.serverState}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cloudDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: cloudDisplayedColumns;"></tr>
      </table>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          MinecraftServers
        </mat-panel-title>
        <mat-panel-description>
          Show you all MinecraftServers of this Wrapper
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="wrapper.servers" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ServerID Column -->
        <ng-container matColumnDef="serverid">
          <th mat-header-cell *matHeaderCellDef> ServerID </th>
          <td mat-cell *matCellDef="let e"> {{e.serviceId.serverId}} </td>
        </ng-container>
        <!-- OnlineMode Column -->
        <ng-container matColumnDef="onlinemode">
          <th mat-header-cell *matHeaderCellDef> OnlineMode </th>
          <td mat-cell *matCellDef="let e"> {{e.processMeta.onlineMode}} </td>
        </ng-container>
        <!-- PriorityStop Column -->
        <ng-container matColumnDef="prioritystop">
          <th mat-header-cell *matHeaderCellDef> PriorityStop </th>
          <td mat-cell *matCellDef="let e"> {{e.processMeta.priorityStop}} </td>
        </ng-container>
        <!-- OnlineCount Column -->
        <ng-container matColumnDef="onlinecount">
          <th mat-header-cell *matHeaderCellDef> OnlineCount </th>
          <td mat-cell *matCellDef="let e"> {{e.serverInfo.onlineCount}}/{{e.serverInfo.maxPlayers}} </td>
        </ng-container>
        <!-- ServerState Column -->
        <ng-container matColumnDef="serverstate">
          <th mat-header-cell *matHeaderCellDef> ServerState </th>
          <td mat-cell *matCellDef="let e"> {{e.serverInfo.serverState}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="serverDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: serverDisplayedColumns;"></tr>
      </table>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Proxy Server
        </mat-panel-title>
        <mat-panel-description>
          Show you all Proxys of this Wrapper
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="wrapper.proxys" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ServerID Column -->
        <ng-container matColumnDef="serverid">
          <th mat-header-cell *matHeaderCellDef> ServerID </th>
          <td mat-cell *matCellDef="let e"> {{e.serviceId.serverId}} </td>
        </ng-container>
        <!-- OnlineCount Column -->
        <ng-container matColumnDef="onlinecount">
          <th mat-header-cell *matHeaderCellDef> OnlineCount </th>
          <td mat-cell *matCellDef="let e"> {{e.proxyInfo.onlineCount}}/{{e.proxyInfo.maxPlayers}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="proxyDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: proxyDisplayedColumns;"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
