<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<!--suppress JSUnusedLocalSymbols -->
<div>
  <mat-toolbar>
    <button mat-button (click)="onSearchUser()">
      {{'page.cperms.button.edituser' | translate}}
    </button>
    <span class="fill-remaining-space"></span>
    <h2 >{{ 'page.cperms.text.cloudpermissionssystem' | translate}}</h2>
    <span class="fill-remaining-space"></span>
    <button mat-button routerLink="/cperms/addgroup">
      Add Group
    </button>
  </mat-toolbar>
</div>
<div>
  <mat-form-field style="width: 100%;">
    <input matInput (keyup)="ApplyGroupsFilter(input.value)" #input placeholder="Filter Group">
  </mat-form-field>
  <table mat-table [dataSource]="groups" matSort>
    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="Name"> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="joinpower">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="JoinPower"> JoinPower</th>
      <td mat-cell *matCellDef="let element"> {{element.joinPower}}</td>
    </ng-container>
    <ng-container matColumnDef="tagid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="TagId"> TagId</th>
      <td mat-cell *matCellDef="let element"> {{element.tagId}}</td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Edit" [routerLink]="['/cperms/editgroup', element.name]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedGroupsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedGroupsColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20,25,50,100]" [pageSize]="15" showFirstLastButtons></mat-paginator>
</div>
