<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<!--suppress SyntaxError, JSUnusedLocalSymbols -->
<div class="loading-shade"
     *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<mat-tab-group (selectedTabChange)="changeTab($event)">
  <mat-tab label="{{group}}" *ngFor="let group of groups">
    <table mat-table [dataSource]="groupservers" matSort matSortActive="port" matSortDisableClear matSortDirection="asc"
           class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- ServiceID Column -->
      <ng-container matColumnDef="serviceId">
        <th mat-header-cell *matHeaderCellDef> {{'screening.table.header.serviceid' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.serviceId.serverId}}</td>
      </ng-container>
      <!-- HostName Column -->
      <ng-container matColumnDef="hostname">
        <th mat-header-cell *matHeaderCellDef> {{'serverlist.table.header.hostname' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.host}}</td>
      </ng-container>
      <!-- Port Column -->
      <ng-container matColumnDef="port">
        <th mat-header-cell *matHeaderCellDef> {{'serverlist.table.header.port' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.port}}</td>
      </ng-container>
      <!-- OnlineCount Column -->
      <ng-container matColumnDef="onlinecount">
        <th mat-header-cell *matHeaderCellDef> {{'serverlist.table.header.onlinecount' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{ element.onlineCount }}/{{element.maxPlayers}}</td>
      </ng-container>
      <!-- ServerState Column -->
      <ng-container matColumnDef="serverstate">
        <th mat-header-cell *matHeaderCellDef> {{'serverlist.table.header.serverstate' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{ element.serverState }}</td>
      </ng-container>
      <!-- OnlineCount Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{'screening.table.header.actions' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="{{'screening.tooltip.openconsole' | translate }}"
                  (click)="openConsole(element)">
            <mat-icon>desktop_windows</mat-icon>
          </button>
          <!--<button mat-icon-button matTooltip="Stop Proxy" (click)="StopProxy(element)"><mat-icon>stop</mat-icon></button>-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-tab>
</mat-tab-group>
