<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<form>
  <h1 mat-dialog-title>Add User</h1>
  <div mat-dialog-content>
    <mat-horizontal-stepper linear="true">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>{{ 'usermanagment.add.name.title' | translate }}</ng-template>
          <mat-form-field>
            <input matInput placeholder="{{ 'usermanagment.add.input.name' | translate }}"
                   formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-flat-button (click)="onCloseClick()" color="primary">{{ 'buttons.close' | translate }}
            </button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate }}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>{{ 'usermanagment.add.password.title' | translate }}</ng-template>
          <mat-form-field>
            <input matInput placeholder="{{ 'usermanagment.add.input.password' | translate }}" type="password"
                   formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'buttons.back' | translate }}</button>
            <button mat-button matStepperNext>{{ 'buttons.next' | translate }}</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ 'usermanagment.add.done.title' | translate }}</ng-template>
        <p>{{ 'usermanagment.add.done.content' | translate }}</p>
        <div>
          <button mat-button matStepperPrevious>{{ 'buttons.back' | translate }}</button>
          <button mat-flat-button (click)="onCreate()" color="primary">
            {{ 'buttons.create' | translate }}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div mat-dialog-actions>
  </div>
</form>
