<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<!--suppress SyntaxError, JSUnusedLocalSymbols -->
<div class="example-loading-shade"
     *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<table mat-table [dataSource]="data"
       matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>{{'usermanagment.table.header.username'|translate}}</th>
    <td mat-cell *matCellDef="let row">{{row.name}}</td>
  </ng-container>

  <ng-container matColumnDef="AddButton">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-stroked-button color="primary" (click)="AddUser()">
        <mat-icon>add</mat-icon>
      </button>

    </th>
  </ng-container>
  <ng-container matColumnDef="space-1">
    <th mat-header-cell *matHeaderCellDef>
      <h2>{{'usermanagment.table.header.action.adduser' | translate}}</h2>
    </th>
  </ng-container>
  <ng-container matColumnDef="space-2">
    <th mat-header-cell *matHeaderCellDef>
    </th>
  </ng-container>
  <!-- Button Column -->
  <ng-container matColumnDef="button">
    <th mat-header-cell *matHeaderCellDef>{{'usermanagment.table.header.actions'|translate}}</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="EditPermission(row)">
        <mat-icon matTooltip="{{'usermanagment.table.action.editpermissions' | translate}}">
          gavel
        </mat-icon>
      </button>
      <button mat-icon-button (click)="PasswordReset(row)">
        <mat-icon matTooltip="{{'usermanagment.table.action.restpassword' | translate}}"
                  color="warn">save
        </mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>{{'usermanagment.table.header.delete' | translate}}</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="Delete(row)">
        <mat-icon matTooltip="{{'usermanagment.table.action.delete' | translate}}"
                  color="warn">delete
        </mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-header-row *matHeaderRowDef="['AddButton','space-1','space-2']">

  </tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
