
<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<!--suppress JSUnresolvedVariable -->
<form>
  <h1 mat-dialog-title>{{ 'proxygroups.add.title' | translate:{name:proxygroup.name} }}</h1>
  <div mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="{{ 'proxygroups.tab1.general' | translate }}">
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <mat-checkbox [value]="proxygroup.proxyConfig.enabled" [checked]="proxygroup.proxyConfig.enabled"
                        (change)="proxygroup.proxyConfig.enabled = !proxygroup.proxyConfig.enabled">
            {{'proxygroups.tab1.checked.enabled' | translate }}
          </mat-checkbox>
          <mat-form-field>
            <input #name matInput placeholder="{{'proxygroups.tab1.input.name' | translate }}" [value]="proxygroup.name"
                   type="text" (focusout)="saveName(name.value)">
          </mat-form-field>
          <mat-form-field>
            <input #memory matInput placeholder="{{'proxygroups.tab1.input.memory' | translate }}"
                   [value]="proxygroup.memory" type="number" (focusout)="saveMemory(memory.value)">
          </mat-form-field>
          <mat-form-field>
            <input #proxyport matInput placeholder="{{'proxygroups.tab1.input.startport' | translate }}"
                   [value]="proxygroup.startPort" type="number" (focusout)="saveProxyPort(proxyport.value)">
          </mat-form-field>
          <mat-form-field>
            <input #startup matInput placeholder="{{'proxygroups.tab1.input.alwaysonline' | translate }}"
                   [value]="proxygroup.startup" type="number" (focusout)="saveStartup(startup.value)">
          </mat-form-field>
          <mat-form-field>
            <input #maxplayers matInput placeholder="{{'proxygroups.tab1.input.maxplayers' | translate }}"
                   [value]="proxygroup.proxyConfig.maxPlayers" type="number"
                   (focusout)="saveMaxPlayers(maxplayers.value)">
          </mat-form-field>
          <mat-form-field>
            <input #fallback matInput placeholder="{{'proxygroups.tab1.input.fallbackgroup' | translate }}"
                   [value]="proxygroup.proxyConfig.dynamicFallback.defaultFallback" type="text"
                   (focusout)="saveFallback(fallback.value)">
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'proxygroups.tab1.select.proxyversion' | translate }}</mat-label>
            <mat-select #proxyversion [value]="proxygroup.proxyVersion"
                        (selectionChange)="saveProxyVersion(proxyversion.value)">
              <mat-option value="TRAVERTINE">TRAVERTINE</mat-option>
              <mat-option value="BUNGEECORD">BUNGEECORD</mat-option>
              <mat-option value="WATERFALL">WATERFALL</mat-option>
              <mat-option value="HEXACORD">HEXACORD</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'proxygroups.tab1.select.groupmode' | translate }}</mat-label>
            <mat-select #groupmode [value]="proxygroup.proxyGroupMode"
                        (selectionChange)="saveGroupMode(groupmode.value)">
              <mat-option value="DYNAMIC">DYNAMIC</mat-option>
              <mat-option value="STATIC">STATIC</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox [value]="proxygroup.proxyConfig.fastConnect" [checked]="proxygroup.proxyConfig.fastConnect"
                        (change)="proxygroup.proxyConfig.fastConnect = !proxygroup.proxyConfig.fastConnect">
            {{'proxygroups.tab1.checked.fastconnect' | translate }}
          </mat-checkbox>
          <mat-checkbox [value]="proxygroup.proxyConfig.customPayloadFixer"
                        [checked]="proxygroup.proxyConfig.customPayloadFixer"
                        (change)="proxygroup.proxyConfig.customPayloadFixer = !proxygroup.proxyConfig.customPayloadFixer">
            {{'proxygroups.tab1.checked.customPayloadFixer' | translate }}
          </mat-checkbox>
          <mat-list #wrapper>
            <mat-list-item>
              <mat-form-field>
                <input #addwrapper matInput placeholder="{{'proxygroups.tab1.input.wrapperadd' | translate }}"
                       type="text" [formControl]="WrapperControl" [matAutocomplete]="Wrapper">
                <mat-autocomplete autoActiveFirstOption #Wrapper="matAutocomplete">
                  <mat-option *ngFor="let wrapper of filteredWrappers | async" [value]="wrapper">
                    {{wrapper}}
                  </mat-option>
                </mat-autocomplete>
                <button mat-icon-button matSuffix (click)="addWrapper(addwrapper.value)">
                  <mat-icon>add</mat-icon>
                </button>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item *ngFor="let wrapper of proxygroup.wrapper">
              <button mat-icon-button (click)="removeWrapper(wrapper)">
                <mat-icon>delete_forever</mat-icon>
              </button>
              {{wrapper}}
            </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'proxygroups.tab2.dynamicfallback' | translate }}">
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'proxygroups.tab2.title' | translate }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ 'proxygroups.tab2.description' | translate }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutAlign="space-around stretch">
                <mat-form-field>
                  <input matInput #addfallbackgroupname
                         placeholder="{{ 'proxygroups.tab2.input.groupname' | translate }}" value="" type="text">
                </mat-form-field>
                <mat-form-field>
                  <input matInput #addfallbackpermission
                         placeholder="{{ 'proxygroups.tab2.input.permission' | translate }}" value="" type="text">
                </mat-form-field>
                <button mat-button (click)="addFallback(addfallbackgroupname.value,addfallbackpermission.value)">Add
                  Fallback
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let item of proxygroup.proxyConfig.dynamicFallback.fallbacks;let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{item.group}}
                </mat-panel-title>
                <mat-panel-description>
                  {{item.group}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutAlign="space-around stretch">
                <mat-form-field>
                  <input matInput #fallbackname placeholder="{{ 'proxygroups.tab2.input.groupname' | translate }}"
                         [value]="item.group" type="text" (focusout)="saveFallBackName(fallbackname.value,i)">
                </mat-form-field>
                <mat-form-field>
                  <input matInput #fallbackpermission
                         placeholder="{{ 'proxygroups.tab2.input.permission' | translate }}" [value]="item.permission"
                         type="text" (focusout)="saveFallBackPermission(fallbackpermission.value,i)">
                </mat-form-field>
                <button mat-button (click)="removeFallback(i)">{{ 'proxygroups.tab2.button.removefallback' | translate
                  }}
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'proxygroups.tab3.title' | translate }}">
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <mat-form-field>
            <input #templatename matInput placeholder="{{ 'proxygroups.tab3.input.name' | translate }}"
                   [value]="proxygroup.template.name" type="text" (focusout)="saveTemplateName(templatename.value)">
          </mat-form-field>
          <mat-form-field>
            <input #templateurl matInput placeholder="{{ 'proxygroups.tab3.input.url' | translate }}"
                   [value]="proxygroup.template.url" type="text" (focusout)="saveTemplateUrl(templateurl.value)">
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'proxygroups.tab3.select.templatebackend' | translate }}</mat-label>
            <mat-select #TemplateBackend [value]="proxygroup.template.backend"
                        (selectionChange)="saveTemplateBackend(TemplateBackend.value)">
              <mat-option value="LOCAL">LOCAL</mat-option>
              <mat-option value="URL">URL</mat-option>
              <mat-option value="MASTER">MASTER</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'proxygroups.tab3.plugin.titleaddplugin' | translate }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ 'proxygroups.tab3.plugin.descriptionaddplugin' | translate }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutAlign="space-around stretch">
                <mat-form-field>
                  <input #pluginname matInput placeholder="{{ 'proxygroups.tab3.plugin.input.name' | translate }}"
                         type="text">
                </mat-form-field>
                <mat-form-field>
                  <input #pluginurl matInput placeholder="{{ 'proxygroups.tab3.plugin.input.url' | translate }}"
                         type="text">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>{{ 'proxygroups.tab3.plugin.select.backend' | translate }}</mat-label>
                  <mat-select #plugintype value="URL">
                    <mat-option value="LOCAL">LOCAL</mat-option>
                    <mat-option value="URL">URL</mat-option>
                    <mat-option value="MASTER">MASTER</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-button (click)="addPlugin(pluginname.value,pluginurl.value,plugintype.value)">Add Plugin
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let plugin of proxygroup.template.intallablePlugins; let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{plugin.name}}
                </mat-panel-title>
                <mat-panel-description>
                  {{plugin.pluginResourceType}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutAlign="space-around stretch">
                <mat-form-field>
                  <input #pluginname matInput placeholder="{{ 'proxygroups.tab3.plugin.input.name' | translate }}"
                         [value]="plugin.name" type="text" (focusout)="savePluginName(pluginname.value,i)">
                </mat-form-field>
                <mat-form-field>
                  <input #pluginurl matInput placeholder="{{ 'proxygroups.tab3.plugin.input.url' | translate }}"
                         [value]="plugin.url" type="text" (focusout)="savePluginUrl(pluginurl.value,i)">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>{{ 'proxygroups.tab3.plugin.select.backend' | translate }}</mat-label>
                  <mat-select #plugintype [value]="plugin.pluginResourceType"
                              (selectionChange)="savePluginResourceType(plugintype.value,i)">
                    <mat-option value="LOCAL">LOCAL</mat-option>
                    <mat-option value="URL">URL</mat-option>
                    <mat-option value="MASTER">MASTER</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <!--<mat-list >
            <mat-list-item >
              <mat-form-field>
                <input #addprocessPreParameters matInput il8n placeholder="Process Pre Parameter" type="text">
                <button mat-icon-button matSuffix (click)="addProcessPreParameters(addprocessPreParameters.value)"><mat-icon>add</mat-icon></button>
              </mat-form-field>

            </mat-list-item>
            <mat-list-item *ngFor="let parameter of proxygroup.template.processPreParameters"><button mat-icon-button (click)="removeProcessPreParameters(parameter)"><mat-icon>delete_forever</mat-icon></button> {{parameter}} </mat-list-item>
          </mat-list>-->
        </div>
      </mat-tab>
      <mat-tab label="{{ 'proxygroups.tab4.title' | translate }}">
        <mat-checkbox [value]="proxygroup.proxyConfig.autoSlot.enabled"
                      [checked]="proxygroup.proxyConfig.autoSlot.enabled"
                      (change)="proxygroup.proxyConfig.autoSlot.enabled = !proxygroup.proxyConfig.autoSlot.enabled">{{
          'proxygroups.tab4.checked.autoslots' | translate }}
        </mat-checkbox>
        <div *ngIf="proxygroup.proxyConfig.autoSlot.enabled" fxLayout="column" fxLayoutAlign="space-around stretch">
          <mat-form-field>
            <input #dynamicSlotSize matInput
                   placeholder="{{ 'proxygroups.tab4.input.dynamicslotsize' | translate }}"
                   [value]="proxygroup.proxyConfig.autoSlot.dynamicSlotSize" type="number"
                   (focusout)="saveDynamicSlotSize(dynamicSlotSize.value)">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'proxygroups.tab5.title' | translate }}">
        <mat-checkbox [value]="proxygroup.proxyConfig.tabList.enabled"
                      [checked]="proxygroup.proxyConfig.tabList.enabled"
                      (change)="proxygroup.proxyConfig.tabList.enabled = !proxygroup.proxyConfig.tabList.enabled">{{
          'proxygroups.tab5.checked.tablist' | translate }}
        </mat-checkbox>
        <div *ngIf="proxygroup.proxyConfig.tabList.enabled" fxLayout="column" fxLayoutAlign="space-around stretch">
          <mat-form-field>
            <textarea matInput placeholder="{{ 'proxygroups.tab5.input.header' | translate }}" type="text" #header
                      [value]="proxygroup.proxyConfig.tabList.header"
                      (focusout)="saveTabListHeader(header.value)"></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="{{ 'proxygroups.tab5.input.footer' | translate }}" type="text" #footer
                      [value]="proxygroup.proxyConfig.tabList.footer"
                      (focusout)="saveTabListFooter(footer.value)"></textarea>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'proxygroups.tab6.title' | translate }}">
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'proxygroups.tab6.motd.title' | translate }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ 'proxygroups.tab6.motd.description' | translate }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutAlign="space-around stretch">
                <mat-form-field>
                  <textarea matInput #MotdFirstLineAdd placeholder="{{ 'proxygroups.tab6.motd.firstline' | translate }}"
                            value="Example" type="text"></textarea>
                </mat-form-field>
                <mat-form-field>
                  <textarea matInput #MotdSecondLineAdd
                            placeholder="{{ 'proxygroups.tab6.motd.secondline' | translate }}" value="Motd"
                            type="text"></textarea>
                </mat-form-field>
                <button mat-button
                        (click)="addModt(proxygroup.proxyConfig.motdsLayouts.length+1,MotdFirstLineAdd.value,MotdSecondLineAdd.value)">
                  {{ 'proxygroups.tab6.motd.button.addmotd' | translate }}
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let item of proxygroup.proxyConfig.motdsLayouts;let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'proxygroups.tab6.motd.list.motd.title' | translate:{i:i+1} }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ 'proxygroups.tab6.motd.list.motd.description' | translate:{i:i+1} }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutAlign="space-around stretch">
                <mat-form-field>
                  <textarea matInput #MotdFirstLine placeholder="{{ 'proxygroups.tab6.motd.firstline' | translate }}"
                            [value]="item.firstLine" type="" (focusout)="saveMotdF(MotdFirstLine.value,i)"></textarea>
                </mat-form-field>
                <mat-form-field>
                  <textarea matInput #MotdSecondLine placeholder="{{ 'proxygroups.tab6.motd.secondline' | translate }}"
                            [value]="item.secondLine" type="text"
                            (focusout)="saveMotdS(MotdSecondLine.value,i)"></textarea>
                </mat-form-field>
                <button mat-button (click)="removeMotd(i)">{{ 'proxygroups.tab6.motd.button.delete' | translate }}
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'proxygroups.tab7.title' | translate }}">
        <mat-checkbox [value]="proxygroup.proxyConfig.maintenance" [checked]="proxygroup.proxyConfig.maintenance"
                      (change)="proxygroup.proxyConfig.maintenance = !proxygroup.proxyConfig.maintenance">{{
          'proxygroups.tab7.checked.maintenance' | translate }}
        </mat-checkbox>
        <div *ngIf="proxygroup.proxyConfig.maintenance" fxLayout="column" fxLayoutAlign="space-around stretch">
          <h2>{{ 'proxygroups.tab7.protocol' | translate }}</h2>
          <mat-form-field>
            <input matInput placeholder="{{ 'proxygroups.tab7.input.protocol' | translate }}" type="text"
                   #maintenanceProtocol [value]="proxygroup.proxyConfig.maintenaceProtocol"
                   (focusout)="saveProtocol(maintenanceProtocol.value)">
          </mat-form-field>
          <!--<h2>{{ 'proxygroups.tab7.playerinfo' | translate }}</h2>
          <mat-form-field>
            <textarea matInput placeholder="{{ 'proxygroups.tab7.input.playerinfo' | translate }}" type="text"
                      #playerinfo [value]="proxygroup.proxyConfig.playerInfo"
                      (focusout)="savePlayerInfo(playerinfo.value)"></textarea>
          </mat-form-field>-->
          <h2>{{ 'proxygroups.tab7.motd' | translate }}</h2>
          <mat-form-field>
            <input matInput placeholder="{{ 'proxygroups.tab6.motd.firstline' | translate }}" type="text"
                   #maintenanceMotdFirstLine [value]="proxygroup.proxyConfig.maintenanceMotdLayout.firstLine"
                   (focusout)="saveMaintenanceMotdFirstLine(maintenanceMotdFirstLine.value)">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{ 'proxygroups.tab6.motd.secondline' | translate }}" type="text"
                   #maintenanceMotdSecondLine [value]="proxygroup.proxyConfig.maintenanceMotdLayout.secondLine"
                   (focusout)="saveMaintenanceMotdSecondLine(maintenanceMotdSecondLine.value)">
          </mat-form-field>
          <h2>{{ 'proxygroups.tab7.whitelist' | translate }}</h2>
          <mat-list>
            <mat-list-item>
              <mat-form-field>
                <input #addplayer matInput placeholder="{{ 'proxygroups.tab7.input.whitelist' | translate }}"
                       type="text">
                <button mat-icon-button matSuffix (click)="addWhitelistPlayer(addplayer.value)">
                  <mat-icon>add</mat-icon>
                </button>
              </mat-form-field>

            </mat-list-item>
            <mat-list-item *ngFor="let player of proxygroup.proxyConfig.whitelist">
              <button mat-icon-button (click)="removeWhitelistPlayer(player)">
                <mat-icon>delete_forever</mat-icon>
              </button>
              {{player}}
            </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
  <div mat-dialog-actions>
    <button mat-flat-button (click)="onCloseClick()" color="primary">{{ 'buttons.close' | translate }}</button>
    <button mat-flat-button (click)="onSaveClick()" color="Accent">{{ 'buttons.add' | translate }}</button>
  </div>
</form>
