<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<h1 mat-dialog-title>{{ 'disclaimer.title' | translate}}</h1>
<div mat-dialog-content>
    <h3>{{'disclaimer.content.title' | translate}}</h3>
    <br>
    <p>{{'disclaimer.content.text.part1' | translate}}</p>
    <br>
    <p>{{'disclaimer.content.text.part2' | translate}}</p>
    <br>
    <h3>{{'disclaimer.links.title' | translate}}</h3>
    <br>
    <p>{{'disclaimer.links.text.part1' | translate}}</p>
    <br>
    <p>{{'disclaimer.links.text.part2' | translate}}</p>
    <br>
    <h3>{{'disclaimer.copyright.title' | translate}}</h3>
    <br>
    <p>{{'disclaimer.copyright.text.part1' | translate}}</p>
    <br>
    <p>{{'disclaimer.copyright.text.part2' | translate}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">{{ 'buttons.close' | translate}}</button>
</div>
