/*
 * Copyright (c) 2019.
 * CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
 *  Namensnennung -
 *  Nicht kommerziell -
 *  Keine Bearbeitungen 4.0 International Lizenz.
 */

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

@font-face {
  font-family: "Minecraft";
  font-style: normal;
  font-weight: 400;
  src: url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.eot") format("eot"),
  url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.woff") format("woff"),
  url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.ttf") format("truetype"),
  url("https://assets.madfix.me/projects/MaterialDesignWebInterface/fonts/minecraft_font.svg#Minecraft") format("svg");
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #03a9f4;
}

::-webkit-scrollbar-track {
  background: #303030;
  background: #303030;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #303030;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
