<!--
  ~ Copyright (c) 2019.
  ~ CloudNet-WebInterface von Phillipp Glanz ist lizenziert unter einer Creative Commons
  ~  Namensnennung -
  ~  Nicht kommerziell -
  ~  Keine Bearbeitungen 4.0 International Lizenz.
  -->

<div fxLayout="row wrap">
  <mat-card style="margin: 7px">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>people</mat-icon>
      </div>
      <mat-card-title>{{ 'page.dashboard.text.playercount' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'page.dashboard.text.showyourcurrentplayercountfromcloudnet' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"></canvas>
    </mat-card-content>
  </mat-card>
  <mat-card style="margin: 7px">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>storage</mat-icon>
      </div>
      <mat-card-title>{{ 'page.dashboard.text.cloudstats.title' | translate}}</mat-card-title>
      <mat-card-subtitle>{{ 'page.dashboard.text.cloudstats.text' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>{{ 'page.dashboard.text.cloudstats.startups' | translate:{c:cloudStats['cloudStartup']} }}</h3>
      <h3>{{ 'page.dashboard.text.cloudstats.cloudOnlineTime' | translate:{c:cloudStats['cloudOnlineTime'] | millisInTime} }}</h3>
      <h3>{{ 'page.dashboard.text.cloudstats.warpperconnections' | translate:{c:cloudStats['wrapperConnections']} }}</h3>
      <h3>{{ 'page.dashboard.text.cloudstats.startedServers' | translate:{c:cloudStats['startedServers']} }}</h3>
      <h3>{{ 'page.dashboard.text.cloudstats.highestServerOnlineCount' | translate:{c:cloudStats['highestServerOnlineCount']} }}</h3>
      <h3>{{ 'page.dashboard.text.cloudstats.startedProxys' | translate:{c:cloudStats['startedProxys']} }}</h3>
      <h3>{{ 'page.dashboard.text.cloudstats.playerLogin' | translate:{c:cloudStats['playerLogin']} }}</h3>
      <h3>{{ 'page.dashboard.text.cloudstats.highestPlayerOnline' | translate:{c:cloudStats['highestPlayerOnline']} }}</h3>
      <h3>{{ 'page.dashboard.text.cloudstats.playerCommandExecutions' | translate:{c:cloudStats['playerCommandExecutions']} }}</h3>
    </mat-card-content>
  </mat-card>
</div>
